{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
<!-- <h1>{{ post.title }}</h1>
<p>By {{ post.author }} on {{ post.date_posted}}</p>
<p>{{ post.content }}</p> -->
<main class="container">
  <article class="post">
    <h1 class="post-title">{{ post.title }}</h1>
    <p class="post-date">Published on: {{ post.date_posted }}</p>
    <div class="post-content">
      {{ post.content }}
    </div>
    <p class="post-author">Author: {{ post.author }}</p>
  </article>
</main>
{% endfor %}


{% endblock %}